.ann-card {
    /*width: 20rem;*/
    border: black 1px solid;
    /*border-radius: 1rem;*/
    padding: 1rem;
    margin: 1rem;
}

.ann-text {
    margin-top: 1rem;
}

.sort-text{
    text-align: center;
}

.container {
    margin: 1rem;
}

.announcement-list{
    max-width: 50rem;
    margin: auto;
}

@media (max-width: 800px) {
    .admin-card {
        display: inline-block;
        margin-left: 1rem;
    }
}