tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

table {
    border-collapse: collapse;
}

tr {
    border: solid;
    border-width: 1px 0;
    border-color: grey;
}

td {
    padding: 1em;
}

.user-base-info{
    margin: auto;
    min-width: 50%;
}