.toolbar-top {
    background-color: black;
    color: white;
    padding: 1rem;
}

.bandage {
    display: inline-block;
    margin: 0 1rem;
    font-size: large;
}

.toolbar-all-menu {
    display: contents;
}

.toolbar-element {
    display: inline-block;
    margin: 0 1rem;
    cursor: pointer;
}

.right-aligned {
    display: inline-block;
    float: right;
}

.toolbar-element-active {
    font-weight: bold;
}

.cover-image-container {
    position: relative;
}

.cover-image{
    max-width: 100%;
    min-width: 100%;
}

.cover-float-island{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: x-large;
}

.intro{

}

.intro-box{
    height: 10rem;
    display: flex;
}

.intro-image-container {
    flex-grow: 2;
}

.intro-image{
    max-height: 6rem;
    margin: 2rem;
}

.intro-large-image {
    max-height: 10rem;
}

.intro-text{
    flex-grow: 10;
    padding: 1rem;
}

.intro-title {
    font-weight: bold;
    font-size: large;
}

@media (max-width: 800px) {
    .el-header {
        padding: 0 0;
    }

    .el-main {
        padding: 0;
        margin-top: 1em;
    }
    .toolbar-top {
        padding: 0.5rem;
    }

    .toolbar-element {
        margin: 0 0.8rem
    }

    .cover-float-island {
        top: 40%;
        width: fit-content;
    }

    #ldmc {
        color: white;
    }

    .toolbar-all-menu {
        display: block;
        margin: 0.3rem 0 0 0;
    }

    .intro-image {
        display: none;
    }

    .intro-large-image {
        display: none;
    }
}